
.editButton {
  background-color: #F5A623;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.editButton:hover {
  background-color: #F8C471;
  color: #3F3D56;
  border: 2px solid #3F3D56;
}
